body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}

header {
    max-width: 1000px;
    height: 600px;
    background-color: rgb(203, 221, 233);
    margin: auto;
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    grid-template-areas:
    "blue red"
    "blue yellow";
}

.blue {
    grid-area: blue;
    background-color: rgb(203, 221, 233);
    position: relative;
    padding: 2rem 6rem;
}

.blue span {
    color: white;
}

.blue button {
    margin-top: 4rem;
}

.red {
    grid-area: red;
    background-color: rgb(227, 127, 84);
    text-align: center;
    padding: 6rem;
}

.yellow {
    grid-area: yellow;
    background-color: rgb(241, 179, 78);
    text-align: center;
    padding: 6rem;
}

header img {
    width: 20rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    margin: 10px 0;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: white;
    margin: 0;
}

button {
    border-radius: 2rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
}

nav {
    width: 1000px;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

nav a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: rgb(168, 161, 158);
}

.home-nav {
    color: black;
}

section {
    max-width: 1000px;
    height: 600px;
    margin: auto;
}

.info {
    background-color: rgb(168, 161, 158);
}

.about {
    background-color: rgb(241, 179, 78);
    position: relative;
}

.card-container {
    position: absolute;
    top: -13rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    width: 250px;
    text-align: center;
    position: relative;
    border-radius: 0.8rem;
    box-shadow: 0.5px 0.5px 9px 0.5px grey;
}

.card > div {
    width: 225px;
    height: 175px;
    background-color: pink;
    overflow: hidden;
    position: relative;
    top: -1.5rem;
    margin: auto;
    border-radius: 0.5rem;
}

.card img {
    width: 8rem;
}

.card p {
    font-size: 0.8rem;
    padding: 1rem;
}

.card h4 {
    margin: 0;
}